/*  See https://docs.get-narrat.com/guides/theming-the-game-and-ui for info on how to customise your game with CSS. */

#app {
  /* Customise CSS variables here. They will override the existing narrat ones. You can also add your own variables */
  --bg-color: #131720;
  --text-color: #d9e1f2;
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --secondary: #42b983;
}

/* Add any other CSS you want here */
