:root {
  --vp-c-brand-darker: #772222;
  --vp-c-brand-dark: #aa3232;
  --vp-c-brand: #e64545;
  --vp-c-brand-light: #e64545;
  --vp-c-brand-lighter: #ff4b4b;
}

.dark {
  /* --vp-c-bg: #1f0808; */
}
