:root {
  --font-family: 'Helvetica', sans-serif, 'Arial', 'sans-serif';
  --bg-color: rgba(19, 23, 32, 0.9);
  --text-color: #d9e1f2;
  --grey-text-color: #a6a6a6;
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --secondary: #42b983;
  --border-color: hsla(0, 0%, 100%, 0.2);
  --light-1: hsl(210, 30%, 40%);
  --light-2: hsl(255, 30%, 50%);
  --light-gradient: linear-gradient(to right, var(--light-1), var(--light-2));
  --light-background: rgba(255, 255, 255, 0.3);
  --button-background: var(--tile-background);
  --button-text-color: var(--text-color);
  --modal-gradient-1: rgba(18, 21, 26, 0.8);
  --modal-gradient-2: rgba(37, 40, 44, 0.6);
  --modal-background: linear-gradient(
    90deg,
    var(--modal-gradient-1) 0%,
    var(--modal-gradient-2) 100%
  );
  --tile-gradient-1: rgba(18, 21, 26, 0.9);
  --tile-gradient-2: rgba(37, 40, 44, 0.7);
  --tile-background: linear-gradient(
    90deg,
    var(--tile-gradient-1) 0%,
    var(--tile-gradient-2) 100%
  );
  --tile-border-color: rgba(166, 166, 166, 0.3);
  --shadow-1: hsla(236, 50%, 50%, 0.3);
  --shadow-2: hsla(236, 50%, 50%, 0.4);
  --hud-background: rgba(0, 0, 0, 0.4);
  --hud-text-color: var(--text-color);

  --notification-bg: var(--tile-background);
  --notification-text-color: var(--text-color);
  --notification-description-color: var(--grey-text-color);
  --notification-icon-size: 40px;

  --skills-text-background: rgba(0, 0, 0, 0.5);
  --skills-text-color: var(--text-color);
  --skills-level-background: rgba(0, 0, 0, 0.5);
  --skills-level-color: orange;
  --skills-xp-bar-height: 40px;

  --skill-check-name-color: orange;
  --skill-check-difficulty: orange;
  --skill-check-success: green;
  --skill-check-failed: red;
  --skill-check-color: orange;

  --dialog-choice-color: orange;
  --dialog-choice-hover-color: var(--text-color);

  --inventory-text-background: rgba(0, 0, 0, 0.5);
  --inventory-text-color: var(--text-color);
  --inventory-amount-background: rgba(0, 0, 0, 0.5);
  --inventory-amount-color: orange;

  --quest-title-color: yellow;
  --completed-quest-title-color: grey;

  --objective-in-progress-color: white;
  --objective-completed-color: grey;

  --loading-bar-inner-bg: var(--light-background);
  --loading-bar-outer-bg: var(--bg-color);

  --dialog-box-bg: var(--bg-color);
  --dialog-box-border: none;

  /* Tabs */
  --tabs-background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(100, 100, 100, 1) 53%,
    rgba(0, 0, 0, 0.2) 100%
  );
  --tab-active-background: rgba(0, 0, 0, 0);
  --tab-active-text-color: var(--text-color);
  --tab-inactive-background: rgba(0, 0, 0, 0);
  --tab-inactive-text-color: var(--text-color);
  --tab-border-style: solid;
  --tab-border-color: white;
  --tab-selected-glow-color: var(--focus);

  --tooltip-background: #331d00;
  --tooltip-border: 1px solid orange;
  --tooltip-border-radius: 5px;
  --tooltip-title-font-size: 1.2rem;
  --tooltip-font-size: 1rem;
  --tooltip-title-color: red;
  --tooltip-color: var(--text-color);

  --highlighted-tooltip-keyword-color: red;
  --highlighted-tooltip-keyword-font-size: 1.1em;
  --highlighted-tooltip-keyword-font-weight: bold;

  --achievement-title-color: var(--text-color);
  --achievement-tile-background: var(--tile-background);
  --achievement-tile-border-color: var(--tile-border-color);
  --achievement-description-color: rgb(170, 170, 170);

  --separator-bg-color: rgba(250, 250, 250, 0.8);
  --separator-height: 1px;
  --separator-width: 100%;

  --save-ui-border-style: dashed;
  --save-ui-border-width: 1px;
  --save-ui-border-color: rgba(255, 255, 255, 0.3);
  --save-ui-selected-background: #bf9a21;
}
body {
  font-family: var(--font-family);
}

.red {
  color: red;
}

.tile {
  background: var(--tile-background);
  border-color: var(--tile-border-color);
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
}
* {
  font-family: var(--font-family);
  user-select: none;
}
.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease;
}

.think-command {
  color: cyan;
}

#app {
  /* background-image: url('img/h01.gif'); */
  background-size: cover;
}
/* .list-move {
  transition: transform 0.3s ease;
} */
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(300px);
}

.notification-item {
  display: inline-block;
  margin-right: 10px;
}
.notification-enter-active,
.notification-leave-active {
  transition: all 0.3s ease;
}

/* .notification-move {
  transition: transform 0.3s ease;
} */
.notification-enter-from,
.notification-leave-to {
  opacity: 0;
  transform: translateY(-300px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-in-enter-active {
  transition: opacity 0.1s ease;
}

.fade-in-enter-from {
  opacity: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.select {
  background: var(--light-background);
  padding: 10px;
}

.option {
  background-color: var(--light-2);
  padding: 5px;
  color: var(--text-color);
}

.button {
  background: var(--button-background);
  color: var(--button-text-color);
  border-color: var(--tile-border-color);
  border-radius: 10px;
  border-width: 2px;
  padding: 10px;
  font-weight: 800;
  font-size: 1rem;
  margin: 10px;
  transition: 0.2s;
}

.button.large {
  border-radius: 20px;
}
.menu-button {
  border-radius: 5px;
}

.button.main-menu-button {
  border-radius: 20px;
}
.button:focus,
.button:hover {
  transform: translateY(-0.2rem);
}

.disabled {
  user-select: none;
  pointer-events: none;
}

.button.disabled {
  box-shadow: unset;
  color: grey;
  background: var(--border-color);
}

.input {
  background: var(--light-background);
  color: var(--text-color);
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem var(--shadow-1);
  border-radius: 100px;
  padding: 10px;
  font-weight: 800;
  font-size: 1rem;
  margin: 10px;
  transition: 0.2s;
}

.input:focus,
.input:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0 2.4rem 0.2rem var(--shadow-2);
}

a {
  color: pink;
  text-decoration: underline;
}

th,
td {
  padding: 4px;
  border: 1px solid var(--text-color);
  text-align: center;
}

#game-holder {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: -webkit-fill-available;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.container {
  padding: 20px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

hr.solid {
  border: 1px solid var(--text-color);
  margin-top: 20px;
  margin-bottom: 0px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.7), 0 15px 12px rgba(0, 0, 0, 0.5);
}

.dialog-choice {
  transition: 0.2s;
}

.dialog-choice:hover,
.dialog-choice.selected {
  transform: scale(1.05, 1.05);
  background-color: rgba(250, 173, 57, 0.3);
  transform-origin: center;
}

/* Somewhat arcane CSS to force the hover color to override the child style.
Otherwise hovering choices doesn't change the color of skill check prompts. */
.dialog-choice:not(:hover) > .skill-check-name,
.passive-skill-check > .skill-check-name {
  color: var(--skill-check-name-color);
}

.dialog-choice:not(:hover) > .skill-check-difficulty,
.passive-skill-check > .skill-check-difficulty {
  color: var(--skill-check-difficulty);
}

.skill-check-difficulty {
  font-weight: 700;
}

.dialog-choice:not(:hover) > .skill-check-success,
.passive-skill-check > .skill-check-success {
  color: var(--skill-check-success);
}

.dialog-choice:not(:hover) > .skill-check-failed,
.passive-skill-check > .skill-check-failed {
  color: var(--skill-check-failed);
}

.dialog-choice:not(:hover) > .skill-check,
.passive-skill-check.skill-check {
  color: var(--skill-check-color);
}

.narrat-canvas {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

#touchTrigger {
  pointer-events: none;
}

.narrat-transition-fade-enter-active,
.narrat-transition-fade-leave-active {
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.narrat-transition-fade-enter-from,
.narrat-transition-fade-leave-to {
  opacity: 0;
}

.narrat-transition-slide-right-enter-active,
.narrat-transition-slide-right-leave-active {
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.narrat-transition-slide-right-enter-from {
  transform: translateX(-100%);
}
.narrat-transition-slide-right-leave-to {
  transform: translateX(100%);
}

.narrat-transition-slide-left-enter-active,
.narrat-transition-slide-left-leave-active {
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.narrat-transition-slide-left-enter-from {
  transform: translateX(100%);
}
.narrat-transition-slide-left-leave-to {
  transform: translateX(-100%);
}

.narrat-transition-slide-top-enter-active,
.narrat-transition-slide-top-leave-active {
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.narrat-transition-slide-top-enter-from {
  transform: translateY(100%);
}
.narrat-transition-slide-top-leave-to {
  transform: translateY(-100%);
}

.narrat-transition-slide-bottom-enter-active,
.narrat-transition-slide-bottom-leave-active {
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.narrat-transition-slide-bottom-enter-from {
  transform: translateY(-100%);
}
.narrat-transition-slide-bottom-leave-to {
  transform: translateY(100%);
}
.screens-fade-enter-active,
.screens-fade-leave-active {
  transition: opacity 0.5s ease;
}

.screens-fade-enter-from,
.screens-fade-leave-to {
  opacity: 0;
}

.dialog-transition-enter-active,
.dialog-transition-leave-active {
  transition: transform 0.25s ease-out;
}

.dialog-transition-enter-from,
.dialog-transition-leave-to {
  transform: translateY(-100%);
}

.highlighted-tooltip-keyword {
  color: var(--highlighted-tooltip-keyword-color);
  font-size: var(--highlighted-tooltip-keyword-font-size);
  font-weight: var(--highlighted-tooltip-keyword-font-weight);
  /* Needed for tooltip box to work on sprites */
  user-select: auto;
  pointer-events: all;
}

.button.selected {
  border: 2px solid cyan;
}
