# This is a basic workflow to help you get started with Actions

name: Narrat build CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
      - v2.0.0
      - release/*

  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.x'

      - name: Install pnpm
        uses: pnpm/action-setup@v2.4.0
        with:
          version: '8.14.3'

      - name: Install deps
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Test unit
        run: pnpm run test-unit

      - name: Check Types
        run: pnpm run check-types

      - name: Lint
        run: pnpm run lint
